name: Update LLM Race

# on every push to the master branch
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Enable Git LFS
        run: |
          git lfs install
          git lfs pull

      - name: Run script
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: python update_llm_race.py
